<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script>
        const baseUrl = "http://localhost:8081";

        window.onload = function(){
            let form = document.getElementById("loginForm");
            form.action = baseUrl + "/api/login";
            form.method = "POST";

            document.getElementById("login").addEventListener("click", function(event){
                let username = document.loginForm.username.value;
                let password = document.loginForm.password.value;
                console.log(username + " " + password);
            })
        }

    </script>
</head>
<body>
<form id="loginForm" name="loginForm">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="Login" id="login">
</form>


</form>
</body>
</html>